# 01_data_cleaning.ipynb

In [1]:
import pandas as pd
import re

Load dataset

In [2]:
df = pd.read_csv("C:/Users/Swathi priya/OneDrive/Documents/PhishGuard/data/phishing_email.csv")
print("Initial shape:", df.shape)
df.head()

Initial shape: (82486, 2)

                                       text_combined  label
0  hpl nom may 25 2001 see attached file hplno 52...      0
1  nom actual vols 24 th forwarded sabrae zajac h...      0
2  enron actuals march 30 april 1 201 estimated a...      0
3  hpl nom may 30 2001 see attached file hplno 53...      0
4  hpl nom june 1 2001 see attached file hplno 60...      0

Check missing values

In [3]:
df.isnull().sum()

text_combined    0
label            0
dtype: int64

Basic cleaning function

In [4]:
def clean_text(text):
    text = str(text).lower()
    text = re.sub(r"http\S+", " ", text)   # remove urls
    text = re.sub(r"[^a-zA-Z\s]", " ", text)  # remove special chars
    text = re.sub(r"\s+", " ", text).strip()
    return text

df["clean_text"] = df["text_combined"].apply(clean_text)

Save cleaned data

In [5]:
df.to_csv("../data/cleaned_data.csv", index=False)
print("Saved cleaned_data.csv")

Saved cleaned_data.csv